@page
@model VetEnCasa.App.Frontend.Pages.ListMasModel
@{
}
<h1>Listado de mascotas</h1>
<table class="table">
    @foreach (var mascota in Model.Mascotas)
    {
        <tr>
            <td>@mascota.nombre</td>
            <td>@mascota.raza</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page=".\Detalles" asp-route-mascotaId="@mascota.Id">
                    <i class = "fas fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page=".\Edit" asp-route-mascotaId="@mascota.Id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page=".\Delete" asp-route-mascotaId="@mascota.Id">
                    <i  aria-hidden="true">Borrar</i>
                </a>
            </td>
        </tr>
    }
</table>
<a asp-page=".\Edit" class="btn btn-primary">Adicionar una Mascota</a>